footer {
    background-color: #1D1C1C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.Footer__listitems {
    color: white;
    padding: 2rem;
  }

.Footer__copyright {
    padding: 1rem;
    color: white;
}

.Footer__listitems li {
    list-style-type: none;
}
   
.Footer__col1--singleitem {
    font-size: 22px;
}

.Footer__col2--text,
.Footer__col3--singleitem,
.Footer__copyright {
    font: 14px; 
}

.iconify {
    color: white;
    width: 27px;
    height: 27px;
}

.Footer__col2--singleitem {
    display: flex; 
    gap: 6px;
}

.Footer__col3--list {
    padding-left: 0px;
    padding-top: 1rem;
}

.Footer__col1--singleitem,
.Footer__col2--singleitem,
.Footer__col3--singleitem
{
    margin-top: 1rem;
}

.Footer__singleitem--top {
    margin-top: 0px;
}