footer {
    background-color: #1D1C1C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.Footer__listitems {
    color: white;
    margin: 1rem;
    padding: .5rem;
    line-height: 17px;
}

.Footer__copyright {
    padding: 1rem;
    color: white;

}

.Footer__listitems li {
    list-style-type: none;
  }



.Footer__leftcolumn {
    font-size: 22px;
}

.Footer__midcolumn,
.Footer__rightcolumn,
.Footer__copyright {
    font: 14px; 
}


.Footer__socialIcons {
display: flex;
flex-direction: row;
align-items: flex-start;
gap: 6px;
}